.brunch {
  font-family: -apple-system, Sans-Serif;
  text-align: center;
  font-size: 24pt;
  color: #3f894a;
}

@charset "UTF-8";
/*
 * Colors
 */
/*
 * Application Variables
 */
.doc-container {
  max-width: 850px;
  margin: 0 auto;
  padding: 2rem; }
  .doc-container.font-1 p {
    font-size: 1.3rem;
    line-height: 2.5rem; }
  .doc-container.font-1 h1 {
    font-size: 2.2rem; }
  .doc-container.font-3 p {
    font-size: 1.8rem;
    line-height: 3rem; }
  .doc-container.font-3 h1 {
    font-size: 3.2rem; }
  .doc-container.font-4 p {
    font-size: 2.2rem;
    line-height: 3.5rem; }
  .doc-container.font-4 h1 {
    font-size: 3.5rem; }
  .doc-container p {
    font-size: 1.5rem;
    line-height: 2.7rem;
    word-break: break-word; }
  .doc-container h1, .doc-container h2, .doc-container h3, .doc-container h4, .doc-container h5, .doc-container h6 {
    color: #3cb054; }
  .doc-container h1 {
    font-size: 2.8rem;
    display: inline-block;
    border-bottom: 1px solid rgba(60, 176, 84, 0.4);
    padding: 0.8rem 0; }
  .doc-container h2 {
    font-weight: normal; }
  .doc-container a {
    color: #3cb054; }
  .doc-container img {
    max-width: 100%; }
    @media (max-width: 768px) {
      .doc-container img {
        width: 100%; } }
  .doc-container pre {
    overflow-x: auto;
    background: rgba(60, 176, 84, 0.02);
    border-top: 1px solid #039ac6;
    border-bottom: 1px solid #039ac6;
    padding: 3rem 2rem; }
    @media (max-width: 768px) {
      .doc-container pre {
        margin: 1rem -2rem; } }
    .doc-container pre code {
      display: block;
      font-size: 1.5rem;
      font-family: 'Inconsolata', monospace;
      color: #039ac6; }
  .doc-container p > code {
    display: inline-block;
    border-radius: 2px;
    padding: 0.1rem 0.8rem;
    font-family: 'Inconsolata', monospace;
    border-radius: 3px;
    color: #039ac6;
    background: rgba(60, 176, 84, 0.05); }
  .doc-container ol, .doc-container ul {
    counter-reset: section;
    border: 1px solid rgba(60, 176, 84, 0.5);
    padding: 0;
    border-radius: 5px;
    list-style: none; }
    .doc-container ol li, .doc-container ul li {
      padding: 1rem;
      border-bottom: 1px solid rgba(60, 176, 84, 0.5);
      color: #3f3f3f; }
      .doc-container ol li:before, .doc-container ul li:before {
        counter-increment: section;
        content: counter(section) ".";
        padding-right: 0.5rem;
        font-weight: bold;
        color: #3cb054; }
      .doc-container ol li:last-child, .doc-container ul li:last-child {
        border-bottom: none; }
  .doc-container ul li:before {
    content: '•';
    padding-right: 0.8rem; }
  .doc-container blockquote {
    margin: 0;
    color: #039ac6;
    font-style: italic;
    background: rgba(3, 154, 198, 0.05);
    padding: 1rem 2rem; }
  .doc-container hr {
    width: 200px;
    margin: 8rem auto;
    height: 2px;
    border-radius: 4px;
    border: none;
    background: rgba(63, 63, 63, 0.1); }
  .doc-container sup {
    display: inline-flex; }
    .doc-container sup a {
      background: rgba(60, 176, 84, 0.1);
      border-radius: 2px;
      display: inline-block;
      padding: 0.1rem 0.3rem;
      text-decoration: none;
      font-size: 1rem;
      line-height: 1.1rem;
      color: #3cb054; }
  .doc-container sub {
    color: rgba(63, 63, 63, 0.5); }


/*
 * Colors
 */
/*
 * Application Variables
 */
.MenuComp--overlay {
  display: none; }
  @media (max-width: 768px) {
    .MenuComp--overlay {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
      opacity: 0;
      background: #3f3f3f;
      transition: opacity 0.3s linear;
      pointer-events: none; } }
  @media (max-width: 768px) {
    .MenuComp--overlay.active {
      opacity: 0.8;
      pointer-events: all; } }

.MenuComp {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 275px;
  height: 100vh;
  overflow-y: auto;
  user-select: none;
  background: #f9f9f9;
  box-shadow: -1px 0 0 rgba(34, 34, 34, 0.08) inset; }
  @media (max-width: 768px) {
    .MenuComp {
      transition: transform 0.5s cubic-bezier(0.17, 0.67, 0.45, 1);
      transform: translate3d(-100%, 0, 0);
      box-shadow: none; } }
  @media (max-width: 768px) {
    .MenuComp.open {
      transform: translate3d(0, 0, 0); } }
  .MenuComp > .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; }
    @media (max-width: 768px) {
      .MenuComp > .logo {
        display: none; } }
  .MenuComp > .menu {
    margin: 0;
    padding: 0;
    list-style: none; }
    @media (max-width: 768px) {
      .MenuComp > .menu {
        margin-top: 5rem; } }
    .MenuComp > .menu li {
      font-size: 1.4rem;
      padding: 1rem 2rem;
      cursor: pointer; }
      .MenuComp > .menu li:hover {
        background: rgba(63, 63, 63, 0.05);
        transition: background 0.2s linear; }
      .MenuComp > .menu li.h1 {
        color: #222222;
        font-weight: bold; }
      .MenuComp > .menu li.h2 {
        font-size: 1.3rem;
        padding-left: 4rem;
        color: #3f3f3f; }
      .MenuComp > .menu li.active {
        background: rgba(60, 176, 84, 0.15);
        border-right: 2px solid #3cb054;
        font-weight: bold;
        color: #3cb054; }


/*
 * Colors
 */
/*
 * Application Variables
 */
.TopbarComp {
  position: fixed;
  top: 0;
  left: 275px;
  z-index: 10;
  width: calc(100% - 275px);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #f9f9f9; }
  @media (max-width: 768px) {
    .TopbarComp {
      left: 0;
      width: 100%; } }
  .TopbarComp .menu-button {
    display: none;
    position: relative;
    min-width: 30px;
    height: 100%;
    user-select: none; }
    @media (max-width: 768px) {
      .TopbarComp .menu-button {
        display: block; } }
    .TopbarComp .menu-button img {
      position: absolute;
      top: 50%;
      left: 50%;
      transition: all 0.5s ease-in-out;
      transform: scale(1) translate3d(-50%, -50%, 0);
      opacity: 1; }
      .TopbarComp .menu-button img.off {
        transform: scale(0.8) translate3d(-50%, -50%, 0);
        opacity: 0; }
  .TopbarComp .btn {
    font-size: 1.2rem;
    border: 1px solid rgba(60, 176, 84, 0.3);
    padding: 0.5rem 1rem;
    border-radius: 3px;
    color: #3cb054;
    text-decoration: none;
    user-select: none;
    cursor: pointer; }
    .TopbarComp .btn:hover {
      border: 1px solid rgba(60, 176, 84, 0.8); }
    .TopbarComp .btn:active {
      background: rgba(60, 176, 84, 0.1); }
  .TopbarComp .btn-group {
    display: flex; }
    .TopbarComp .btn-group .btn {
      border-radius: 0;
      margin-left: -1px; }
      .TopbarComp .btn-group .btn:first-child {
        border-radius: 3px 0 0 3px; }
      .TopbarComp .btn-group .btn:last-child {
        border-radius: 0 3px 3px 0; }
      .TopbarComp .btn-group .btn img {
        width: 13px;
        transform: translateX(1px); }


/*
 * Colors
 */
/*
 * Application Variables
 */
*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Lato', sans-serif; }

body {
  padding-top: 50px;
  padding-left: 275px;
  color: #222222;
  font-size: 1.5rem; }
  @media (max-width: 768px) {
    body {
      padding-left: 0; } }

.welcome-card {
  background: url(img/logo-faded.svg) no-repeat right -15px bottom -15px, linear-gradient(90deg, #039ac6, #3cb054);
  background-size: 102px auto, 100% 100%;
  margin: 2rem;
  border-radius: 6px;
  min-height: 119px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 1rem; }
  .welcome-card .logo {
    width: 60px;
    margin: 2rem; }
    @media (max-width: 768px) {
      .welcome-card .logo {
        display: none; } }
    .welcome-card .logo img {
      width: 100%; }
  .welcome-card .content {
    flex: 1;
    border-left: 2px solid #fff;
    padding: 0 2rem 0 1rem; }
    @media (max-width: 768px) {
      .welcome-card .content {
        border-left: none;
        padding: 1rem; } }
    .welcome-card .content h1, .welcome-card .content h2, .welcome-card .content h3 {
      margin: 0;
      color: #fff; }
    .welcome-card .content h1 {
      font-size: 2.2rem;
      margin-top: -0.5rem; }
    .welcome-card .content h2 {
      margin-top: 0.5rem;
      font-size: 1.6rem; }
    .welcome-card .content h3 {
      font-size: 1.3rem;
      opacity: 0.5;
      margin-top: 0.5rem; }



/*# sourceMappingURL=app.css.map*/